.grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  
  .formularioFilter{
    margin-top: 10px;
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  td, th {
    width: 25%;
    text-align: center;
  }

  td{
    text-align: left;
  }

  .mat-column-notes {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

th.mat-header-cell {
    color: black;
    font-weight: bold;
    word-wrap: break-word;
    word-break:break-all;
  }  

  td.mat-cell {
    word-wrap: break-word;
    word-break:break-all;
  }       

table {
    /* text-align: center !important; */
    width: 100%;
    /* table-layout: fixed; */
    table-layout: fixed;
    /* white-space: nowrap;
    overflow-wrap: break-word;
    text-overflow: ellipsis; */
  } 
