<div class="grid-container">
    <h1 class="mat-h1">Todos los Usuarios</h1>


    <mat-accordion *ngIf="peticiones > '0'">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Exinten <em style="color: #ff4081; font-style: normal; margin-left: 3px; margin-right: 3px;">{{peticiones}}</em> peticiones de Autorización 
          </mat-panel-title>
          <mat-panel-description>
            Haz click aquí para desplegar o cerrar
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <table mat-table [dataSource]="dataSource4" class="mat-elevation-z8">
        
          <!-- Position Column -->
          <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef> DNI del Usuario </th>
            <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nommbre y Apellidos </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} {{element.apellidos}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef> Teléfono </th>
            <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
          </ng-container>

          <ng-container matColumnDef="rol">
            <th mat-header-cell *matHeaderCellDef> Rol </th>
            <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row">
              <button mat-stroked-button color="primary" (click)="openDialog5(row, row.rol)"><i class="material-icons">check_box</i></button>
              <button mat-stroked-button color="primary" [routerLink]="['/vista-usuario', row.id]"><i class="material-icons"> remove_red_eye </i></button>
              <button mat-stroked-button color="primary" (click)="openDialog4(row, row.rol)"><i class="material-icons"> remove_circle </i></button>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
        </table>


      </mat-expansion-panel>
    </mat-accordion>



    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows"> 
            <mat-card class="dashboard-card">
              <mat-card-header>
                <mat-card-title>
                  {{card.title}}
                </mat-card-title>
              </mat-card-header>
  
              <mat-card-content class="dashboard-card-content">
    
                <mat-tab-group >

                  <mat-tab label="Administradores">          
                      <div>
                        <table  mat-table matSort [dataSource]="dataSourceAdministradores" >
                          <!-- Progress Column -->
                          <ng-container matColumnDef="dni">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
                            <td mat-cell *matCellDef="let row"> {{row.dni}} </td>
                          </ng-container>

                          <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de Usuario </th>
                            <td mat-cell *matCellDef="let row"> {{row.username}} </td>
                          </ng-container>
                      
                          <!-- Name Column -->
                          <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Apellidos</th>
                            <td mat-cell *matCellDef="let row"> {{row.nombre}} {{row.apellidos}}</td>
                          </ng-container>

                          <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                          </ng-container>

                          <ng-container matColumnDef="telefono">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
                            <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
                          </ng-container>

                          <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                            <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
                          </ng-container>

                          <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</th>
                            <td mat-cell *matCellDef="let row"> 
                              <button mat-stroked-button color="primary" [routerLink]="['/vista-usuario', row.id]"><i class="material-icons"> remove_red_eye </i></button>
                              <button mat-stroked-button color="primary" (click)="openDialog4(row, 'administrador')"><i class="material-icons"> remove_circle </i></button>
                            </td>
                          </ng-container>
                      
                          <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns3;">
                          </tr>
                        </table>
                      
                        <mat-paginator #paginator3 [pageSize]="pageSizeAdministrador" [pageSizeOptions]="[5, 10, 15]" [showFirstLastButtons]="true" [length]="totalSizeAdministrador"
                            [pageIndex]="currentPageAdministrador" (page)="pageEvent3 = handlePageAdministrador($event)">
                        </mat-paginator>
                      </div>
                </mat-tab>

                   

                    <mat-tab label="Medicos"> 
                        
                        <div>
                          <table mat-table [dataSource]="dataSourceMedicos" matSort>

                            <ng-container matColumnDef="colegiado">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de Colegiado </th>
                              <td mat-cell *matCellDef="let row"> {{row.colegiado}} </td>
                            </ng-container>
                        
                            <!-- Progress Column -->
                            <ng-container matColumnDef="dni">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
                              <td mat-cell *matCellDef="let row"> {{row.dni}} </td>
                            </ng-container>

                            <ng-container matColumnDef="username">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de Usuario </th>
                              <td mat-cell *matCellDef="let row"> {{row.username}} </td>
                            </ng-container>
                        
                            <!-- Name Column -->
                            <ng-container matColumnDef="nombre">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Apellidos</th>
                              <td mat-cell *matCellDef="let row"> {{row.nombre}} {{row.apellidos}}</td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                              <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                            </ng-container>

                            <ng-container matColumnDef="especialidad">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Especialidad </th>
                              <td mat-cell *matCellDef="let row"> {{row.especialidad}} </td>
                            </ng-container>

                            <ng-container matColumnDef="telefono">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
                              <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
                            </ng-container>

                            <ng-container matColumnDef="estado">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                              <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
                            </ng-container>>

                            <ng-container matColumnDef="acciones">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</th>
                              <td mat-cell *matCellDef="let row"> 
                                <button mat-stroked-button color="primary" [routerLink]="['/vista-usuario', row.id]" ><i class="material-icons"> remove_red_eye </i></button>
                                <button mat-stroked-button color="primary" (click)="openDialog4(row, 'medico')"><i class="material-icons"> remove_circle </i></button>
                              </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns2;">
                            </tr>
                          </table>
                      
                        </div>
                        <mat-paginator #paginator2 [pageSize]="pageSizeMedico" [pageSizeOptions]="[5, 10, 15]" [showFirstLastButtons]="true" [length]="totalSizeMedico"
                                [pageIndex]="currentPageMedico" (page)="pageEvent = handlePageMedico($event)">
                        </mat-paginator>
                  </mat-tab>


                    <mat-tab label="Pacientes"> 
                          
                          <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSourcePacientes" matSort>
                        
                              <!-- Progress Column -->
                              <ng-container matColumnDef="dni">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
                                <td mat-cell *matCellDef="let row"> {{row.dni}} </td>
                              </ng-container>
                          
                              <!-- Name Column -->
                              <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Apellidos</th>
                                <td mat-cell *matCellDef="let row"> {{row.nombre}} {{row.apellidos}}</td>
                              </ng-container>

                              <ng-container matColumnDef="username">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de Usuario </th>
                                <td mat-cell *matCellDef="let row"> {{row.username}} </td>
                              </ng-container>

                              <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                              </ng-container>

                              <ng-container matColumnDef="telefono">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
                                <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
                              </ng-container>

                              <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado de la Cuenta </th>
                                <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
                              </ng-container>

                              <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</th>
                                <td mat-cell *matCellDef="let row"> 
                                  <button mat-stroked-button color="primary" [routerLink]="['/vista-usuario', row.id]"><i class="material-icons"> remove_red_eye </i></button>
                                  <button mat-stroked-button color="primary" (click)="openDialog4(row, 'paciente')"><i class="material-icons"> remove_circle </i></button>
                                </td>
                              </ng-container>
                          
                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                              </tr>
                            </table>
                          
                            <mat-paginator #paginator [pageSize]="pageSizePaciente" [pageSizeOptions]="[5, 10, 15]" [showFirstLastButtons]="true" [length]="totalSizePaciente"
                                [pageIndex]="currentPagePaciente" (page)="pageEvent = handlePagePaciente($event)">
                            </mat-paginator>
                          </div>
                    </mat-tab>

                </mat-tab-group>


              </mat-card-content>
            </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  