<div class="grid-container">
    <h1 class="mat-h1">Consulta con fecha {{fecha}}
        <button mat-raised-button style="float: right;" [routerLink]="['/ficha-individual', idFicha]" color="primary">Volver al Historial {{idFicha}}</button>
    </h1>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows"> 
        <div [ngSwitch]="card.title">

          <div *ngSwitchCase="'datosConsulta'">
            <mat-card class="dashboard-card">
              <mat-card-header>
                <mat-card-title>
                </mat-card-title>
              </mat-card-header>
  
              <mat-card-content class="dashboard-card-content">
                <mat-list id="listaInformeAsma">
                  <h3 mat-subheader>
                      <mat-icon mat-list-icon style="margin-right: 10px;">
                          <i class="material-icons">
                              lock
                              </i>
                        </mat-icon>
                          Preguntas de Respuesta Cerrada
                  </h3>
                  <mat-list-item >
                      <h4 mat-line style="font-weight: bold;">Calidad del Sueño</h4>
                      <p mat-line>asdfaf </p>
                    </mat-list-item>
                  </mat-list>
                   
              </mat-card-content>
                </mat-card>
          </div>
        </div>

      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
