<div class="grid-container">
    <h1 class="mat-h1">Perfil del Usuario: {{datosUser.username}}</h1>
    <mat-grid-list cols="2" rowHeight="240px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows"> 
        <div [ngSwitch]="card.title">
  
          <div *ngSwitchCase="'Usuario'">

            <mat-card class="dashboard-card">
                <mat-card-header>
                  <mat-card-title>
                    {{card.title}}
                    <mat-menu #menu="matMenu" xPosition="before">
                      <a [routerLink]="'/users'" mat-menu-item></a>
                    </mat-menu>
                  </mat-card-title>
                </mat-card-header>
    
                <mat-card-content class="dashboard-card-content">
                 
                  <mat-list>
                    <h3 mat-subheader>
                        <mat-icon mat-list-icon style="margin-right: 10px;">
                            <i class="material-icons">
                                person
                                </i>
                          </mat-icon>
                            en la Aplicación
                    </h3>
                    <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">Rol del Usuario</h4>
                        <p mat-line> {{datosUser.rol}}</p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">Estado de la cuenta</h4>
                        <p mat-line> {{datosUser.estado}}</p>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                      <h3 mat-subheader>
                          <mat-icon mat-list-icon style="margin-right: 10px;">
                              <i class="material-icons">
                                  person
                                  </i>
                            </mat-icon>
                            Datos Personales
                      </h3>
                      <mat-list-item >
                          <h4 mat-line style="font-weight: bold;">Nombre de Usuario</h4>
                          <p mat-line> {{datosUser.username}}</p>
                        </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">Nombre y Apellidos</h4>
                        <p mat-line> {{datosUser.nombre}} {{datosUser.apellidos}}</p>
                      </mat-list-item>
                      <mat-list-item >
                          <h4 mat-line style="font-weight: bold;">DNI</h4>
                          <p mat-line>{{datosUser.dni}}</p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">Población</h4>
                        <p mat-line>{{datosUser.poblacion}}</p>
                    </mat-list-item>
                    <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">Género</h4>
                        <p mat-line>{{datosUser.genero}}</p>
                    </mat-list-item>
                    <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">Fecha de Nacimiento</h4>
                        <p mat-line>{{datosUser.nacimiento}}</p>
                    </mat-list-item>
                      <mat-divider></mat-divider>
                      <h3 *ngIf="datosUser.rol == 'medico'" mat-subheader>
                          <mat-icon mat-list-icon style="margin-right: 10px;">
                              <i class="material-icons">
                                  work
                                  </i>
                            </mat-icon>
                            Datos Profesionales
                      </h3>
                      <mat-list-item *ngIf="datosUser.rol == 'medico'">
                        <h3 mat-line style="font-weight: bold;">Número de Colegiado</h3>
                        <p mat-line> {{datosUser.colegiado}} </p>
                      </mat-list-item>
                      <mat-list-item *ngIf="datosUser.rol == 'medico'">
                          <h4 mat-line style="font-weight: bold;">Especialidad</h4>
                          <p mat-line>{{datosUser.especialidad}}</p>
                        </mat-list-item>
                      <mat-divider></mat-divider>
                      <h3 mat-subheader>
                          <mat-icon mat-list-icon style="margin-right: 10px;">
                              <i class="material-icons">
                                contact_mail
                                </i>
                            </mat-icon>
                            Datos de Contacto
                      </h3>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">Email</h4>
                        <a mat-line href = "mailto: {{datosUser.email}}">{{datosUser.email}}</a>
                      </mat-list-item>
                      <mat-list-item >
                          <h4 mat-line style="font-weight: bold;">Teléfono</h4>
                          <p mat-line>{{datosUser.telefono}}</p>
                        </mat-list-item>
                    </mat-list>
                     
                </mat-card-content>
                  </mat-card>

            </div>

            <div *ngSwitchCase="'editar'">

                <mat-card class="dashboard-card">
                    <mat-card-header>
                      <mat-card-title>
                        Editar Datos Personales y Profesionales del Usuario
                      </mat-card-title>
                      <mat-card-subtitle>Modifica solo los campos necesarios</mat-card-subtitle>
                    </mat-card-header>
        
                    <mat-card-content class="dashboard-card-content">
                        <button mat-flat-button color="primary">Editar <i class="material-icons">
                            edit
                            </i></button>
                    </mat-card-content>
                      </mat-card>
    
            </div>

            <div *ngSwitchCase="'eliminar'">

                <mat-card class="dashboard-card">
                    <mat-card-header>
                      <mat-card-title>
                        Eliminar Usuario
                      </mat-card-title>
                      <mat-card-subtitle>Elimina Permanentemente al usuario y sus datos</mat-card-subtitle>
                    </mat-card-header>
        
                    <mat-card-content class="dashboard-card-content">
                            <button mat-flat-button color="warn">Eliminar <i class="material-icons">
                                remove_circle
                                </i></button>
                    </mat-card-content>
                      </mat-card>
    
            </div>

            <div *ngSwitchCase="'accionCuenta'">

                <mat-card class="dashboard-card">
                    <mat-card-header>
                      <mat-card-title>
                        Cambiar el Estado de la Cuenta
                        <mat-menu #menu="matMenu" xPosition="before">
                          <a [routerLink]="'/users'" mat-menu-item></a>
                        </mat-menu>
                      </mat-card-title>
                    </mat-card-header>
        
                    <mat-card-content class="dashboard-card-content">
                         
                        <section class="example-section">
                            <mat-radio-group >
                              <mat-radio-button class="example-margin" value="autorizada">
                                Autorizada
                              </mat-radio-button>
                              <mat-radio-button class="example-margin" value="activada">
                                Activada
                              </mat-radio-button>
                              <mat-radio-button class="example-margin" value="desactivada">
                                Desactivada
                              </mat-radio-button>
                            </mat-radio-group>
                          </section>

                    </mat-card-content>
                      </mat-card>
    
            </div>

            <div *ngSwitchCase="'accionRol'">

                <mat-card class="dashboard-card">
                    <mat-card-header>
                      <mat-card-title>
                        Cambiar el rol del Usuario
                        <mat-menu #menu="matMenu" xPosition="before">
                          <a [routerLink]="'/users'" mat-menu-item></a>
                        </mat-menu>
                      </mat-card-title>
                    </mat-card-header>
        
                    <mat-card-content class="dashboard-card-content">
                         
                        <section class="example-section">
                        <mat-radio-group >
                          <mat-radio-button class="example-margin" value="paciente">
                            Paciente
                          </mat-radio-button>
                          <mat-radio-button class="example-margin" value="medico">
                            Médico
                          </mat-radio-button>
                          <mat-radio-button class="example-margin" value="administrador">
                            Administrador
                          </mat-radio-button>
                        </mat-radio-group>
                      </section>

                    </mat-card-content>
                      </mat-card>
    
            </div>

            <div *ngSwitchCase="'cambiarMedico'" >

                <mat-card *ngIf="datosUser.rol == 'paciente'" class="dashboard-card">
                    <mat-card-header>
                      <mat-card-title>
                        Cambiar el Médico del Usuario
                        <mat-menu #menu="matMenu" xPosition="before">
                          <a [routerLink]="'/users'" mat-menu-item></a>
                        </mat-menu>
                      </mat-card-title>
                    </mat-card-header>
        
                    <mat-card-content class="dashboard-card-content">
                      <mat-form-field style="margin-top: 20px;">
                        <mat-label>Médico</mat-label>
                        <mat-select>
                          <mat-option *ngFor="let medico of medico" [value]="medico.id">
                            {{medico.nombre}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </mat-card-content>
                      </mat-card>
    
            </div>

            <div *ngSwitchCase="'especialidad'" >

              <mat-card *ngIf="datosUser.rol == 'medico'" class="dashboard-card">
                  <mat-card-header>
                    <mat-card-title>
                      Cambiar la Especialidad del médico
                      <mat-menu #menu="matMenu" xPosition="before">
                        <a [routerLink]="'/users'" mat-menu-item></a>
                      </mat-menu>
                    </mat-card-title>
                  </mat-card-header>
      
                  <mat-card-content class="dashboard-card-content">
                    <mat-form-field style="margin-top: 25px;">
                      <mat-label>Especialidades</mat-label>
                      <select matNativeControl required>
                        <option value="migranas">Migrañas</option>
                        <option value="asma">Asma</option>
                        <option value="diabetes">Diabetes</option>
                      </select>
                    </mat-form-field>
                  </mat-card-content>
              </mat-card>
  
          </div>

        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
