<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <mat-card-title>Iniciar Sesión</mat-card-title>
            
            <form class="form-signin" (ngSubmit)="onSubmit()" #loginForm="ngForm">
              <br>
              <mat-form-field class="example-full-width">
                <mat-label>Nombre de Usuario</mat-label>
                <input matInput id="username" name="username" placeholder="Usuario" [(ngModel)]="formUser.username" required (focusout)="validarUsername()" >
              </mat-form-field>
              <mat-error *ngIf="errorUsername">
								Nombre de usuario erróneo, solo letras y números
							</mat-error>
              <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput id="password" name="password" placeholder="Contraseña" [type]="hide ? 'password' : 'text'" [(ngModel)]="formUser.password" required>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <br>
              <br>
              <button mat-raised-button type="submit" color="primary">Iniciar Sesión</button>
              <button mat-raised-button [routerLink]="'/registro'" style="float:right" color="primary">Registrarse</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
