<div class="grid-container">
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows"> 
  
            <mat-card class="dashboard-card">
              <mat-card-header>
                <mat-card-title *ngIf="loginService.loggedUser.rol == 'medico'">
                  Consultas e Historial de Consultas
                </mat-card-title>
                <mat-card-title *ngIf="loginService.loggedUser.rol == 'administrador'">
                   Historial de Consultas
                </mat-card-title>
              </mat-card-header>
  
              <mat-card-content>

                <mat-tab-group [color]="'accent'" [backgroundColor]="'primary'">

                    <mat-tab *ngIf="loginService.loggedUser.rol == 'medico'" label="Consultas para hoy">    
                        
                        <table  mat-table matSort [dataSource]="dataSource" >
                  
                            <!-- Progress Column -->
                            <ng-container matColumnDef="lugar">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('id')"> Lugar de la Consulta </th>
                              <td mat-cell *matCellDef="let row"> {{row.lugar}} </td>
                            </ng-container>
      
                            <ng-container matColumnDef="motivo">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('fechaCreacion')"> Motivo de la consulta </th>
                              <td mat-cell *matCellDef="let row"> {{row.motivo}} </td>
                            </ng-container>
                        
                            <!-- Name Column -->
                            <ng-container matColumnDef="fecha">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('pacienteDni')"> Hora</th>
                              <td mat-cell *matCellDef="let row"> {{row.fecha}}</td>
                            </ng-container>
      
                            <ng-container matColumnDef="paciente">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('nombrePaciente')"> Nombre del Paciente </th>
                              <td mat-cell *matCellDef="let row"> {{row.paciente}}</td>
                            </ng-container>
      
                            <ng-container matColumnDef="acciones">
                              <th mat-header-cell *matHeaderCellDef> Acciones</th>
                              <td mat-cell *matCellDef="let row"> 
                                <a [routerLink]="['/consulta', row.id]" mat-stroked-button color="primary" ><i class="material-icons"> remove_red_eye </i></a>
                              </td>
                            </ng-container>
      
                            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns1;">
                            </tr>
                          </table>
                        
                    </mat-tab>
  
                    <mat-tab label="Historial de consultas" *ngIf="loginService.loggedUser.rol == 'medico'"> 
                          
                      <div>
                        <table  mat-table matSort [dataSource]="dataSourceConsultasMedico" >
                      
                          <!-- Progress Column -->
                          <ng-container matColumnDef="numeroConsulta">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('id')"> Número de Consulta </th>
                            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                          </ng-container>
      
                          <ng-container matColumnDef="lugar">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('lugar')"> Lugar </th>
                            <td mat-cell *matCellDef="let row"> {{row.lugar}} </td>
                          </ng-container>
                      
                          <!-- Name Column -->
                          <ng-container matColumnDef="fecha">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('fecha')"> Fecha y Hora</th>
                            <td mat-cell *matCellDef="let row"> {{row.fecha}}</td>
                          </ng-container>
      
                          <ng-container matColumnDef="motivo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('motivo')"> Motivo </th>
                            <td mat-cell *matCellDef="let row"> {{row.motivo}} </td>
                          </ng-container>
      
                          <ng-container matColumnDef="diagnostico">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('diagnostico')"> ¿Tiene Diagnóstico? </th>
                            <td mat-cell *matCellDef="let row"> {{row.diagnostico}} </td>
                          </ng-container>
      
                          <ng-container matColumnDef="observaciones">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('observaciones')"> ¿Tiene Observaciones? </th>
                            <td mat-cell *matCellDef="let row"> {{row.observaciones}} </td>
                          </ng-container>
      
                          <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('estado')"> Estado de la Consulta </th>
                            <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
                          </ng-container>
      
                          <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Acciones</th>
                            <td mat-cell *matCellDef="let row"> 
                              <button mat-stroked-button color="primary" [routerLink]="['/consulta', row.id]" ><i class="material-icons"> remove_red_eye </i></button>
                            </td>
                          </ng-container>
                      
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'estadoAplazada': row.estado == 'aplazada', 'estadoEnTiempo': row.estado == 'realizada', 'estadoCancelada': row.estado == 'cancelada' }">
                          </tr>
                        </table>
                      
                        <mat-paginator #paginator3 [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 15]" [showFirstLastButtons]="true" [length]="totalSize"
                            [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
                        </mat-paginator>
                      </div>
                          
                    </mat-tab>

                    <mat-tab label="Historial de consultas" *ngIf="loginService.loggedUser.rol == 'administrador'"> 
                          
                      <div>
                        <table  mat-table matSort [dataSource]="dataSourceConsultasMedico" >
                      
                          <!-- Progress Column -->
                          <ng-container matColumnDef="numeroConsulta">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('id')"> Número de Consulta </th>
                            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                          </ng-container>
      
                          <ng-container matColumnDef="lugar">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('lugar')"> Lugar </th>
                            <td mat-cell *matCellDef="let row"> {{row.lugar}} </td>
                          </ng-container>
                      
                          <!-- Name Column -->
                          <ng-container matColumnDef="fecha">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('fecha')"> Fecha y Hora</th>
                            <td mat-cell *matCellDef="let row"> {{row.fecha}}</td>
                          </ng-container>
      
                          <ng-container matColumnDef="motivo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('motivo')"> Motivo </th>
                            <td mat-cell *matCellDef="let row"> {{row.motivo}} </td>
                          </ng-container>
      
                          <ng-container matColumnDef="diagnostico">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('diagnostico')"> ¿Tiene Diagnóstico? </th>
                            <td mat-cell *matCellDef="let row"> {{row.diagnostico}} </td>
                          </ng-container>
      
                          <ng-container matColumnDef="observaciones">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('observaciones')"> ¿Tiene Observaciones? </th>
                            <td mat-cell *matCellDef="let row"> {{row.observaciones}} </td>
                          </ng-container>
      
                          <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('estado')"> Estado de la Consulta </th>
                            <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
                          </ng-container>
      
                          <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Acciones</th>
                            <td mat-cell *matCellDef="let row"> 
                              <button mat-stroked-button color="primary" [routerLink]="['/consulta', row.id]" ><i class="material-icons"> remove_red_eye </i></button>
                            </td>
                          </ng-container>
                      
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'estadoAplazada': row.estado == 'aplazada', 'estadoEnTiempo': row.estado == 'realizada', 'estadoCancelada': row.estado == 'cancelada' }">
                          </tr>
                        </table>
                      
                        <mat-paginator #paginator3 [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 15]" [showFirstLastButtons]="true" [length]="totalSize"
                            [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
                        </mat-paginator>
                      </div>
                          
                    </mat-tab>
  
                  </mat-tab-group>
                   
              </mat-card-content>
            </mat-card>
        
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
