<div class="grid-container">
    <h1 class="mat-h1">Historial Número <em style="color: #ff4081; font-style: normal; margin-left: 3px; margin-right: 3px;">{{ficha.id}}</em></h1>
      <mat-grid-list cols="2" rowHeight="400px">
        <mat-grid-tile *ngFor="let card of tarjetaDatos | async" [colspan]="card.cols" [rowspan]="card.rows"> 
              <mat-card class="dashboard-card">
    
                <mat-card-content class="dashboard-card-content">
      
                  <mat-tab-group >
  
                    <mat-tab label="Datos del Paciente"> 

                      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuDatosPaciente" aria-label="Toggle menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menuDatosPaciente="matMenu" xPosition="before">
                        <a [routerLink]="['/vista-usuario', paciente.id]" mat-menu-item>Ver el paciente "{{paciente.username}}"</a>
                      </mat-menu>

                      <mat-list>
                        <h3 mat-subheader>
                            <mat-icon mat-list-icon style="margin-right: 10px;">
                                <i class="material-icons">
                                    person
                                    </i>
                              </mat-icon>
                              Datos Personales
                        </h3>
                        <mat-list-item >
                          <h4 mat-line style="font-weight: bold;">Nombre de Usuario</h4>
                          <p mat-line> {{paciente.username}}</p>
                        </mat-list-item>
                        <mat-list-item >
                          <h4 mat-line style="font-weight: bold;">Nombre y Apellidos</h4>
                          <p mat-line> {{paciente.nombre}} {{paciente.apellidos}}</p>
                        </mat-list-item>
                        <mat-list-item >
                          <h4 mat-line style="font-weight: bold;">DNI</h4>
                          <p mat-line>{{paciente.dni}}</p>
                        </mat-list-item>
                        <mat-list-item >
                          <h4 mat-line style="font-weight: bold;">Población</h4>
                          <p mat-line >{{paciente.poblacion}}</p>
                        </mat-list-item>
                        <mat-list-item >
                          <h4 mat-line style="font-weight: bold;">Género</h4>
                          <p mat-line >{{paciente.genero}}</p>
                        </mat-list-item>
                        <mat-list-item >
                          <h4 mat-line style="font-weight: bold;">Fecha de Nacimiento</h4>
                          <p mat-line >{{paciente.nacimiento}}</p>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <h3 mat-subheader>
                            <mat-icon mat-list-icon style="margin-right: 10px;">
                                <i class="material-icons">
                                  contact_mail
                                  </i>
                              </mat-icon>
                              Datos de Contacto
                        </h3>
                        <mat-list-item >
                          <h4 mat-line style="font-weight: bold;">Email</h4>
                          <a mat-line href = "mailto: {{paciente.email}}">{{paciente.email}}</a>
                        </mat-list-item>
                        <mat-list-item >
                          <h4 mat-line style="font-weight: bold;">Teléfono</h4>
                          <p mat-line>{{paciente.telefono}}</p>
                        </mat-list-item>
                        <h3 mat-subheader>
                          <mat-icon mat-list-icon style="margin-right: 10px;">
                            <i class="material-icons">
                              apartment
                              </i>
                            </mat-icon>
                            Datos Clínicos
                        </h3>
                        <mat-list-item >
                          <h4 mat-line style="font-weight: bold;">Enfermedades</h4>
                          <p mat-line>{{asma}}</p>
                          <p mat-line>{{diabetes}}</p>
                          <p mat-line>{{migranas}}</p>
                        </mat-list-item>
                      </mat-list>
                      
                    </mat-tab>

                    <mat-tab  *ngIf="loginService.loggedUser.rol == 'administrador'" label="Datos del Médico"> 
                      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuDatosMedico" aria-label="Toggle menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menuDatosMedico="matMenu" xPosition="before">
                        <a [routerLink]="['/vista-usuario', medico.id]" mat-menu-item>Ver el médico "{{medico.username}}"</a>
                      </mat-menu>

                      <mat-list>
                        <h3 mat-subheader>
                            <mat-icon mat-list-icon style="margin-right: 10px;">
                                <i class="material-icons">
                                    person
                                    </i>
                              </mat-icon>
                              Datos Personales
                        </h3>
                        <mat-list-item >
                            <h4 mat-line style="font-weight: bold;">Nombre de Usuario</h4>
                            <p mat-line> {{medico.username}}</p>
                          </mat-list-item>
                        <mat-list-item >
                          <h4 mat-line style="font-weight: bold;">Nombre y Apellidos</h4>
                          <p mat-line> {{medico.nombre}} {{medico.apellidos}}</p>
                        </mat-list-item>
                        <mat-list-item >
                            <h4 mat-line style="font-weight: bold;">DNI</h4>
                            <p mat-line>{{medico.dni}}</p>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <h3 mat-subheader>
                            <mat-icon mat-list-icon style="margin-right: 10px;">
                                <i class="material-icons">
                                    work
                                    </i>
                              </mat-icon>
                              Datos Profesionales
                        </h3>
                        <mat-list-item >
                          <h3 mat-line style="font-weight: bold;">Número de Colegiado</h3>
                          <p mat-line> {{medico.colegiado}} </p>
                        </mat-list-item>
                        <mat-list-item >
                            <h4 mat-line style="font-weight: bold;">Especialidad</h4>
                            <p mat-line>{{medico.especialidad}}</p>
                          </mat-list-item>
                        <mat-divider></mat-divider>
                        <h3 mat-subheader>
                            <mat-icon mat-list-icon style="margin-right: 10px;">
                                <i class="material-icons">
                                  contact_mail
                                  </i>
                              </mat-icon>
                              Datos de Contacto
                        </h3>
                        <mat-list-item >
                          <h4 mat-line style="font-weight: bold;">Email</h4>
                          <a mat-line href = "mailto: {{medico.email}}">{{medico.email}}</a>
                        </mat-list-item>
                        <mat-list-item >
                            <h4 mat-line style="font-weight: bold;">Teléfono</h4>
                            <p mat-line>{{medico.telefono}}</p>
                          </mat-list-item>
                      </mat-list>
                      
                    </mat-tab>

                    <mat-tab *ngIf="asma != ''" label="Informes de Asma"> 
                         
                    </mat-tab>

                    <mat-tab *ngIf="diabetes != ''" label="Informes de Diabetes"> 
                         
                    </mat-tab>

                    <mat-tab *ngIf="migranas != ''" label="Informes de Migrañas"> 
                         
                    </mat-tab>
  
  
                    <mat-tab label="Consultas">

                      <mat-card class="cartaFiltro">
                        <mat-card-header>
                          <mat-card-subtitle>
                            Filtrar Consultas
                          </mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content>

                          <form class="formFiltrar" (ngSubmit)="aplicarFiltro()" #loginForm="ngForm">
                              <mat-form-field style="width: 20%;">
                                <mat-label>Número de Consulta</mat-label>
                                <input matInput type="number" id="id" name="id" [(ngModel)]="filtroConsulta.id" placeholder="Número">
                              </mat-form-field>
                            
              
                              <mat-form-field style="width: 20%; margin-left: 80px;">
                                <mat-label>Fecha Inicio Periodo</mat-label>
                                <input matInput [matDatepicker]="dpInicio"  name="fechaInicio" id="fechaInicio" [(ngModel)]="filtroConsulta.fechaInicio">
                                <mat-datepicker-toggle matSuffix [for]="dpInicio"></mat-datepicker-toggle>
                                <mat-datepicker #dpInicio></mat-datepicker>
                              </mat-form-field>

                              <mat-form-field style="width: 20%;">
                                <mat-label>Fecha Fin Periodo</mat-label>
                                <input matInput [matDatepicker]="dpFin"  name="fechaFin" id="fechaFin" [(ngModel)]="filtroConsulta.fechaFin">
                                <mat-datepicker-toggle matSuffix [for]="dpFin"></mat-datepicker-toggle>
                                <mat-datepicker #dpFin></mat-datepicker>
                              </mat-form-field>
                            

                              <mat-form-field style="width: 20%; margin-left: 80px;">
                                <mat-label>Lugar de Consulta</mat-label>
                                <input matInput id="lugar" name="lugar" placeholder="Número" [(ngModel)]="filtroConsulta.lugar">
                              </mat-form-field>

                            <mat-form-field style="width: 45%; margin-right: 70px;">
                              <mat-label>Estado de la Consulta</mat-label>
                              <mat-chip-list #chipList >
                                <mat-chip
                                  *ngFor="let estado of estado"
                                  [selectable]="selectable"
                                  [removable]="removable"
                                  (removed)="remove(estado)">
                                  {{estado}}
                                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input
                                  placeholder="Nuevo Es..."
                                  #estadoInput
                                  [matAutocomplete]="auto"
                                  [matChipInputFor]="chipList"
                                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                  (matChipInputTokenEnd)="add($event)">
                              </mat-chip-list>
                              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                <mat-option *ngFor="let estado of filteredEstado | async" [value]="estado">
                                  {{estado}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>

                              
                              <mat-radio-group class="example-radio-group" aria-label="Select an option" name="diagnostico" id="diagnostico" [(ngModel)]="filtroConsulta.diagnostico">
                                <mat-label class="labelRadios">Diagnóstico</mat-label>
                                <mat-radio-button value="si">Sí</mat-radio-button>
                                <mat-radio-button value="no">No</mat-radio-button>
                              </mat-radio-group>
                            
                              
                              <mat-radio-group class="example-radio-group" aria-label="Select an option" name="observaciones" id="observaciones" [(ngModel)]="filtroConsulta.observaciones">
                                <mat-label class="labelRadios">Observaciones</mat-label>
                                <mat-radio-button value="si">Sí</mat-radio-button>
                                <mat-radio-button value="no">No</mat-radio-button>
                              </mat-radio-group>
                                                                             
                            <button mat-raised-button type="submit" color="primary">Filtrar</button>
                          </form>

                        </mat-card-content>

                      </mat-card>

                      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuConsulta" aria-label="Toggle menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menuConsulta="matMenu" xPosition="before">
                        <a (click)="openDialog()" mat-menu-item>Añadir Consulta</a>
                      </mat-menu>

                      <div>
                        <table  mat-table matSort [dataSource]="dataSource" >
                      
                          <!-- Progress Column -->
                          <ng-container matColumnDef="numeroConsulta">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('id')"> Número de Consulta </th>
                            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                          </ng-container>
      
                          <ng-container matColumnDef="lugar">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('lugar')"> Lugar </th>
                            <td mat-cell *matCellDef="let row"> {{row.lugar}} </td>
                          </ng-container>
                      
                          <!-- Name Column -->
                          <ng-container matColumnDef="fecha">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('fecha')"> Fecha y Hora</th>
                            <td mat-cell *matCellDef="let row"> {{row.fecha}}</td>
                          </ng-container>
      
                          <ng-container matColumnDef="motivo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('motivo')"> Motivo </th>
                            <td mat-cell *matCellDef="let row"> {{row.motivo}} </td>
                          </ng-container>
      
                          <ng-container matColumnDef="diagnostico">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('diagnostico')"> ¿Tiene Diagnóstico? </th>
                            <td mat-cell *matCellDef="let row"> {{row.diagnostico}} </td>
                          </ng-container>
      
                          <ng-container matColumnDef="observaciones">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('observaciones')"> ¿Tiene Observaciones? </th>
                            <td mat-cell *matCellDef="let row"> {{row.observaciones}} </td>
                          </ng-container>
      
                          <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('estado')"> Estado de la Consulta </th>
                            <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
                          </ng-container>
      
                          <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Acciones</th>
                            <td mat-cell *matCellDef="let row"> 
                              <button mat-stroked-button color="primary" ><i class="material-icons"> remove_red_eye </i></button>
                              <button mat-stroked-button color="primary" ><i class="material-icons"> edit </i> </button>
                              <button  *ngIf="loginService.loggedUser.rol == 'administrador'" mat-stroked-button color="primary" (click)="openDialog4(row, 'administrador')"><i class="material-icons"> remove_circle </i></button>
                            </td>
                          </ng-container>
                      
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'estadoAplazada': row.estado == 'aplazada', 'estadoEnTiempo': row.estado == 'realizada', 'estadoCancelada': row.estado == 'cancelada' }">
                          </tr>
                        </table>
                      
                        <mat-paginator #paginator3 [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 15]" [showFirstLastButtons]="true" [length]="totalSize"
                            [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
                        </mat-paginator>
                      </div>
                         
                    </mat-tab>

                    <mat-tab label="Tratamientos"> 
                         
                    </mat-tab>

                    <mat-tab label="Notas">

                      <mat-card class="cartaFiltro">
                        <mat-card-header>
                          <mat-card-subtitle>
                            Filtrar Notas
                          </mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content>

                          <form class="formFiltrar" (ngSubmit)="aplicarFiltroNotas()" #loginForm="ngForm">      
              
                              <mat-form-field style="width: 40%;">
                                <mat-label>Fecha Inicio Periodo</mat-label>
                                <input matInput [matDatepicker]="dpInicioNota"  name="fechaInicio" id="fechaInicio" [(ngModel)]="filtroNota.fechaInicio">
                                <mat-datepicker-toggle matSuffix [for]="dpInicioNota"></mat-datepicker-toggle>
                                <mat-datepicker #dpInicioNota></mat-datepicker>
                              </mat-form-field>

                              <mat-form-field style="width: 40%;">
                                <mat-label>Fecha Fin Periodo</mat-label>
                                <input matInput [matDatepicker]="dpFinNota"  name="fechaFin" id="fechaFin" [(ngModel)]="filtroNota.fechaFin">
                                <mat-datepicker-toggle matSuffix [for]="dpFinNota"></mat-datepicker-toggle>
                                <mat-datepicker #dpFinNota></mat-datepicker>
                              </mat-form-field>

                              <mat-form-field style="width: 100%;">
                                <mat-label>Texto de la nota</mat-label>
                                <textarea matInput placeholder="Texto de la nota" name="texto" [(ngModel)]="filtroNota.texto"></textarea>
                              </mat-form-field>
                  
                                                                             
                            <button mat-raised-button type="submit" color="primary">Filtrar</button>
                          </form>

                        </mat-card-content>

                      </mat-card>

                      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menuConsulta" aria-label="Toggle menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menuConsulta="matMenu" xPosition="before">
                        <a (click)="openDialog()" mat-menu-item>Añadir Nota</a>
                      </mat-menu>

                      <div>
                        <table  mat-table matSort [dataSource]="dataSourceNotas">
                      
                          <!-- Progress Column -->
                          <ng-container matColumnDef="fecha">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenarNota('fecha')"> Fecha de la Nota </th>
                            <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
                          </ng-container>
      
                          <ng-container matColumnDef="datos">
                            <th mat-header-cell *matHeaderCellDef> Texto de la Nota </th>
                            <td mat-cell *matCellDef="let row"> {{row.datos}} </td>
                          </ng-container>

                          <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Acciones</th>
                            <td mat-cell *matCellDef="let row"> 
                              <button mat-stroked-button color="primary" ><i class="material-icons"> remove_red_eye </i></button>
                              <button mat-stroked-button color="primary" ><i class="material-icons"> edit </i> </button>
                              <button  *ngIf="loginService.loggedUser.rol == 'administrador'" mat-stroked-button color="primary" (click)="openDialog4(row, 'administrador')"><i class="material-icons"> remove_circle </i></button>
                            </td>
                          </ng-container>
                      
                          <tr mat-header-row *matHeaderRowDef="displayedColumnsNotas"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumnsNotas;">
                          </tr>
                        </table>
                      
                        <mat-paginator #paginator3 [pageSize]="pageSizeNotas" [pageSizeOptions]="[5, 10, 15]" [showFirstLastButtons]="true" [length]="totalSizeNotas"
                            [pageIndex]="currentPageNotas" (page)="pageEvent = handlePageNotas($event)">
                        </mat-paginator>
                      </div>
                         
                    </mat-tab>
  
                  </mat-tab-group>
  
  
                </mat-card-content>
              </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>