<div class="grid-container">
    <h1 class="mat-h1">Informe de Diabetes con Fecha: {{fecha}}
      <button mat-raised-button style="float: right;" [routerLink]="['/ficha-individual', idFicha]" color="primary">Volver al Historial {{idFicha}}</button>
    </h1>
    <mat-grid-list cols="2" rowHeight="450px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows"> 

        <div [ngSwitch]="card.title">

          <div *ngSwitchCase="'respuestaCerrada'">

            <mat-card class="dashboard-card">
                <mat-card-header>
                  <mat-card-title>
                  </mat-card-title>
                </mat-card-header>
    
                <mat-card-content class="dashboard-card-content">
                 
                  <mat-list>
                    <h3 mat-subheader>
                        <mat-icon mat-list-icon style="margin-right: 10px;">
                            <i class="material-icons">
                                lock
                                </i>
                          </mat-icon>
                            Preguntas de Respuesta Cerrada
                    </h3>
                    <div id="respuestasCerradas">

                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">Número de Controles</h4>
                        <p mat-line> {{datosInformeDiabetes.numeroControles}} </p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">¿En qué momento del día realiza los controles?</h4>
                        <p mat-line *ngFor="let column of datosInformeDiabetes.momentos">{{column.momento}}</p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">¿El paciente ha presentado niveles bajos de azúcar en sangre?</h4>
                        <p mat-line>{{datosInformeDiabetes.nivelBajo}}</p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">¿Con qué frecuencia ha presentado niveles bajos?</h4>
                        <p mat-line>{{datosInformeDiabetes.frecuenciaBajo}}</p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">¿En qúe horario a presentado niveles bajos?</h4>
                        <p mat-line>{{datosInformeDiabetes.horarioBajo}}</p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">¿El paciente ha presentado ha presentado niveles altos de azúcar en sangre?</h4>
                        <p mat-line>{{datosInformeDiabetes.nivelAlto}}</p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">¿Con qué frecuencia ha presentado niveles altos?</h4>
                        <p mat-line>{{datosInformeDiabetes.frecuenciaAlto}}</p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">¿En qúe horario a presentado niveles altos?</h4>
                        <p mat-line>{{datosInformeDiabetes.horarioAlto}}</p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">¿El paciente ha realizado alguna actividad física?</h4>
                        <p mat-line>{{datosInformeDiabetes.actividadFisica}}</p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">¿El paciente tiene algún problema con la dieta diabética?</h4>
                        <p mat-line>{{datosInformeDiabetes.problemaDieta}}</p>
                      </mat-list-item>

                    </div>
                    </mat-list>
                     
                </mat-card-content>
              </mat-card>
              </div>


                <div *ngSwitchCase="'respuestaAbierta'">

                  <mat-card class="dashboard-card">
                      <mat-card-header>
                        <mat-card-title>
                          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                              <mat-icon>save_alt</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                              <a mat-menu-item (click)="generatePDFInforme()">Descargar Informe como PDF</a>
                              <a mat-menu-item (click)="generateCSVInforme()">Descargar Informe como CSV</a>
                            </mat-menu>
                        </mat-card-title>
                      </mat-card-header>
          
                      <mat-card-content class="dashboard-card-content">
                       
                        <mat-list>
                            <h3 mat-subheader>
                                <mat-icon mat-list-icon style="margin-right: 10px;">
                                    <i class="material-icons">
                                        lock_open
                                        </i>
                                  </mat-icon>
                                  Preguntas de Respuesta Abierta
                            </h3>

                          <div id="respuestasAbierta">
                            <mat-list-item >
                                <h4 mat-line style="font-weight: bold;">Estado General del Paciente</h4>
                                <p mat-line>{{datosInformeDiabetes.estadoGeneral}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                              <h3 mat-subheader>
                                <mat-icon mat-list-icon style="margin-right: 10px;">
                                    <i class="material-icons">
                                      mood
                                        </i>
                                  </mat-icon>
                                    Análisis del estado general del paciente
                              </h3>
                              <mat-list-item >
                                <h4 mat-line style="font-weight: bold;">Puntuación (-1, 1)</h4>
                                <p mat-line>Puntuación: {{analisis}} </p>
                              </mat-list-item>
                              <mat-list-item >
                                <h4 mat-line style="font-weight: bold;">Análisis textual</h4>
                                <p mat-line>{{analisisString}} </p>
                              </mat-list-item>
                          </div>
                          </mat-list>
                        
                           
                      </mat-card-content>
                        </mat-card>

                    </div>
              </div>

      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
