<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button [routerLink]="'/dashboardHome'"><h1>SSEC</h1></button>
      <span class="menu-spacer"></span>
      <a mat-button > </a>
      <div *ngIf="loginService.isLogged" >
        
        <button mat-button *ngIf="loginService.loggedUser.rol == 'administrador'" [routerLink]="'/dashboardHome'"> Panel de Control </button>
        <button mat-button mat-raised-button *ngIf="peticiones > '0' && loginService.loggedUser.rol == 'administrador'"
        [matBadge]="peticiones" matBadgePosition="before" matBadgeColor="accent" [routerLink]="'/users'"> Usuarios </button>
        <button mat-button *ngIf="peticiones == '0' && loginService.loggedUser.rol == 'administrador'" [routerLink]="'/users'"> Usuarios </button>
        <button mat-button [routerLink]="'/historial'"> Historiales Clínicos </button>
        <button mat-button *ngIf="loginService.loggedUser.rol == 'medico'" [routerLink]="'/consultas'"> Consultas e Historial de Consultas </button>
        <button mat-button *ngIf="loginService.loggedUser.rol == 'administrador'" [routerLink]="'/consultas'">Historial de Consultas </button>
        <button mat-button [routerLink]="'/medicamentos'"> Medicamentos </button>
        
      </div>
      <div *ngIf="loginService.isLogged" style="margin-left:auto; margin-right:0;">
        <button mat-button (click)='logout()'> Cerrar Sesión </button>
        <button mat-button [routerLink]="['/vista-usuario', loginService.loggedUser.id]"> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">account_circle</mat-icon>  {{loginService.loggedUser.username}}</button>
      </div>


      <div *ngIf="!loginService.isLogged" style="margin-left:auto; margin-right:0;">
        <button mat-button (click)='login()'> Iniciar Sesión </button>
      </div>
        
    </mat-toolbar-row>
  </mat-toolbar>

<router-outlet></router-outlet>
