<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button [routerLink]="'/dashboardHome'"><h1>SSEC</h1></button>
      <span class="menu-spacer"></span>
      <a mat-button > </a>
      <div *ngIf="loginService.isLogged" >
       
        <button mat-button [routerLink]="'/users'"> Usuarios </button>
        <button mat-button [routerLink]="'/fichas'"> Fichas </button>
        <button mat-button [routerLink]="'/consultas'"> Consultas </button>
        <button mat-button [routerLink]="'/medicamentos'"> Medicamentos </button>
        <button mat-button [routerLink]="'/enfermedades'"> Enfermedades </button>
        
      </div>
      <div *ngIf="loginService.isLogged" style="margin-left:auto; margin-right:0;">
        <button mat-button (click)='logout()'> Cerrar Sesión </button>
        <button mat-button (click)='profile()'> <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">account_circle</mat-icon></button>
       
      </div>


      <div *ngIf="!loginService.isLogged" style="margin-left:auto; margin-right:0;">
        <button mat-button (click)='login()'> Iniciar Sesión </button>
      </div>
        
  
      
    </mat-toolbar-row>
  </mat-toolbar>

<router-outlet></router-outlet>
