<div class="grid-container">
    <h1 class="mat-h1">Informe de Migrañas</h1>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows"> 

            <mat-card class="dashboard-card">
                <mat-card-header>
                  <mat-card-title>
                    Informe con Fecha: {{datosInformeMigranas.fecha}}
                    <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu" xPosition="before">
                        <a mat-menu-item>Descargar Informe</a>
                      </mat-menu>
                  </mat-card-title>
                </mat-card-header>
    
                <mat-card-content class="dashboard-card-content">
                 
                  <mat-list>
                    <h3 mat-subheader>
                        <mat-icon mat-list-icon style="margin-right: 10px;">
                            <i class="material-icons">
                                lock
                                </i>
                          </mat-icon>
                            Preguntas de Respuesta Cerrada
                    </h3>
                    <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">Frecuencia de la Crisis</h4>
                        <p mat-line> {{datosInformeMigranas.frecuencia}} </p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">Duración de la Crisis</h4>
                        <p mat-line>{{datosInformeMigranas.duracion}}</p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">Horario de las crisis</h4>
                        <p mat-line>{{datosInformeMigranas.horario}}</p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">Finalización de la crisis</h4>
                        <p mat-line>{{datosInformeMigranas.finalizacion}}</p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">Tipo de Episodio</h4>
                        <p mat-line>{{datosInformeMigranas.tipoEpisodio}}</p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">Intensidad del Episodio</h4>
                        <p mat-line>{{datosInformeMigranas.intensidad}}</p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">¿El paciente ha presentado alguna limitación?</h4>
                        <p mat-line>{{datosInformeMigranas.limitaciones}}</p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">¿Se ha despertado el paciente por la noche?</h4>
                        <p mat-line>{{datosInformeMigranas.despiertoNoche}}</p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">Síntomas que han caracterizado la crisis</h4>
                        <p mat-line *ngFor="let column of datosInformeMigranas.sintomas">{{column.sintomas}}</p>
                      </mat-list-item>
                      <mat-list-item >
                        <h4 mat-line style="font-weight: bold;">Fáctores que han contribuido a la crisis</h4>
                        <p mat-line *ngFor="let column of datosInformeMigranas.factores">{{column.factores}}</p>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                      <h3 mat-subheader>
                          <mat-icon mat-list-icon style="margin-right: 10px;">
                              <i class="material-icons">
                                  lock_open
                                  </i>
                            </mat-icon>
                            Preguntas de Respuesta Abierta
                      </h3>
                      <mat-list-item >
                          <h4 mat-line style="font-weight: bold;">Estado General del Paciente</h4>
                          <p mat-line>{{datosInformeMigranas.estadoGeneral}}</p>
                      </mat-list-item>
                    </mat-list>
                     
                </mat-card-content>
                  </mat-card>

      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
