<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-7 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <mat-card-title>Su cuenta ha sido activada</mat-card-title>
              
              <div class="form-signin">
                <br>
                <p>
                    <mat-label> Espere a que el administrador autorice su cuenta.</mat-label>
                </p>
                <p>
                    <mat-label> Si eres un profesional médico utiliza este botón para ir a la página de iniciar sesión.</mat-label>
                </p>
                <button mat-raised-button (click)="goToLogin()" color="primary">Volver al login</button>
                <br>
                <br>
                <p>
                    <mat-label> Si eres un paciente abré la aplicación móvil.</mat-label>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>