<div class="grid-container">
  <h1 class="mat-h1">Pagina Príncipal</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows"> 
      <div [ngSwitch]="card.title">

          <div *ngSwitchCase="'Consultas'">
            <mat-card class="dashboard-card">
              <mat-card-header>
                <mat-card-title>
                  {{card.title}}
                  <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Ver Todas las Consultas</button>
                  </mat-menu>
                </mat-card-title>
              </mat-card-header>

              <mat-card-content class="dashboard-card-content">
               
              <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Número Consulta</th>
                      <th scope="col">Lugar</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Motivo</th>
                      <th scope="col">Medico (Número Colegiado)</th>
                      <th scope="col">Paciente (DNI)</th>
                    </tr>
                  </thead>
                  <tbody>

                      <tr *ngFor="let item of todasConsultas">
                      <th scope="row">{{item.id}}</th>
                      <td>{{item.lugar}}</td>
                      <td>{{item.fecha}}</td>
                      <td>{{item.motivo}}</td>
                      <td>{{item.medico}} ({{item.colegiado}})</td>
                      <td>{{item.paciente}} ({{item.dniPaciente}})</td>
                      </tr>
                   
                  </tbody>
                </table>
              </div>
                   
              </mat-card-content>
            </mat-card>
        </div>

        <div *ngSwitchCase="'Usuarios'">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{card.title}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Ver todos los usuarios</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>

            <mat-card-content class="dashboard-card-content">
             
              <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">DNI</th>
                      <th scope="col">Nombre Apellidos</th>
                      <th scope="col">Usuario</th>
                      <th scope="col">Rol</th>
                      <th scope="col">Estado Cuenta</th>
                    </tr>
                  </thead>
                  <tbody>

                      <tr *ngFor="let item of todosUsuarios">
                        <th scope="row">{{item.dni}}</th>
                      <th scope="row">{{item.nombre}} {{item.apellidos}}</th>
                      <td>{{item.username}}</td>
                      <td>{{item.rol}}</td>
                      <td>{{item.estado}}</td>
                      </tr>
                  
                  </tbody>
                </table>
              </div>
                 
            </mat-card-content>
          </mat-card>
      </div>

      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
