<div class="grid-container">
    <h1 class="mat-h1">Mediacamentos Disponibles</h1>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows"> 
        <div [ngSwitch]="card.title">
  
          <div *ngSwitchCase="'Medicamentos'">
            <mat-card class="dashboard-card">
              <mat-card-header>
                <mat-card-title>
                  Medicamentos
                  <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <a (click)="openDialog()" mat-menu-item>Añadir Medicamento</a>
                    <a (click)="openDialog2()" mat-menu-item>Añadir Marca de Medicamento</a>
                  </mat-menu>
                </mat-card-title>
              </mat-card-header>
  
              <mat-card-content class="dashboard-card-content">

                <mat-form-field class="formularioFilter">
                    <mat-label>Filtrar</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Mia">
                </mat-form-field>
                  
                  <div>
                    <table  mat-table matSort [dataSource]="dataSource" >
                  
                      <!-- Progress Column -->
                      <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('nombre')"> Nombre del Medicamento </th>
                        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                      </ng-container>

                      <ng-container matColumnDef="via">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('viaAdministracion')"> Vía de Administración </th>
                        <td mat-cell *matCellDef="let row"> {{row.viaAdministracion}} </td>
                      </ng-container>
                  
                      <!-- Name Column -->
                      <ng-container matColumnDef="marca">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('marca')"> Marca</th>
                        <td mat-cell *matCellDef="let row"> {{row.marca}}</td>
                      </ng-container>

                      <ng-container matColumnDef="dosis">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ordenar('dosis')"> Dosis </th>
                        <td mat-cell *matCellDef="let row"> {{row.dosis}} mg</td>
                      </ng-container>

                      <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones</th>
                        <td mat-cell *matCellDef="let row"> 
                          <button mat-stroked-button color="primary" ><i class="material-icons"> remove_red_eye </i></button>
                          <button mat-stroked-button color="primary" (click)="openDialog4(row)"><i class="material-icons"> remove_circle </i></button>
                        </td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                      </tr>
                    </table>
                  
                    <mat-paginator #paginator3 [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 15]" [showFirstLastButtons]="true" [length]="totalSize"
                        [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
                    </mat-paginator>
                  </div>
            
                   
              </mat-card-content>
            </mat-card>
        </div>
  
           
  
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  