<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
				<div class="card card-signin my-5">
					<div class="card-body">
						<h5 i18n class="card-title text-center">Pre-Registro</h5>
						<form class="form-signin" (ngSubmit)="onSubmit()" #loginForm="ngForm">
								<div class="form-label-group">
									<input type="text" id="dni" name="dni" class="form-control" placeholder="DNI" [(ngModel)]="formRegistro.dni" required autofocus>	
								</div>
								<div class="form-label-group">
									<input type="text" id="username" name="username" class="form-control" placeholder="Usuario" [(ngModel)]="formRegistro.username" required autofocus>	
								</div>
								<div class="form-label-group">
									 <input type="password" id="password" name="password" class="form-control" placeholder="Constraseña" [(ngModel)]="formRegistro.password" required autofocus>	
                                </div>
                                <div class="form-label-group">
									<input type="text" id="email" name="email" class="form-control" placeholder="Correo Electronico" [(ngModel)]="formRegistro.email"  required>
								</div>
								<div class="form-label-group">
									<input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" [(ngModel)]="formRegistro.nombre" required autofocus>
								</div>
								<div class="form-label-group">
									<input type="text" id="apellidos" name="apellidos" class="form-control" placeholder="Apellidos" [(ngModel)]="formRegistro.apellidos" required autofocus>	
								</div>
								<div class="form-label-group">
									<input type="text" id="telefono" name="telefono" class="form-control" placeholder="Telefono" [(ngModel)]="formRegistro.telefono"  required>
                                </div>
                                <div class="form-label-group">
									<input type="text" id="poblacion" name="poblacion" class="form-control" placeholder="Poblacion" [(ngModel)]="formRegistro.poblacion"  required>
								</div>
								<div class="form-label-group">
									<input type="text" id="colegiado" name="colegiado" class="form-control" placeholder="Número Colegiado" [(ngModel)]="formRegistro.colegiado" required autofocus>	
								</div>
                                <div class="form-label-group">
									Es necesario que el administrador valide la cuenta para poder acceder a la aplicación
                                </div>
							<button i18n class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Pre-Registrarme</button>

						</form>
						<br>
							<p class="error" *ngIf="loginNotification!=''">{{loginNotification.login}} </p>
							<p class="error" *ngIf="loginNotification!=''">{{loginNotification.password}} </p>
							<p class="error" *ngIf="loginNotification!=''">{{loginNotification.nombre}} </p>
							<p class="error" *ngIf="loginNotification!=''">{{loginNotification.apellidos}} </p>
							<p class="error" *ngIf="loginNotification!=''">{{loginNotification.email}} </p>
							<p class="error" *ngIf="loginNotification!=''">{{loginNotification.uso}} </p>
					</div>
				</div>
			</div>
		</div>
    </div>
</body>